In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

%matplotlib inline
plt.rcParams['font.family'] = 'Hiragino sans'
plt.style.use("ggplot")

In [4]:
# 使用するcsvを読み込む
df_dex = pd.read_csv('DEXJPUS.csv') # 年別のドル円為替相場
df_rate = pd.read_csv('gb_rate.csv') # 年別のアメリカと日本の国債利回り
df_M1 = pd.read_csv('M1.csv') # 年別のアメリカと日本のM1（現金通貨＋預金通貨）
df_rGDP = pd.read_csv('REAL_GDP.csv') # 年別のアメリカと日本の実質GDP

## データを確認する

In [5]:
df_dex.columns = ['DATE','為替']
df_dex.head()

         DATE         為替
0  1971-01-01  347.78569
1  1972-01-01  303.12498
2  1973-01-01  271.30548
3  1974-01-01  291.84460
4  1975-01-01  296.78488

In [6]:
df_rate.columns = ['DATE','US_国債利回り','JP_国債利回り']
df_rate.head()

         DATE            US_国債利回り JP_国債利回り
0  1960-01-01  4.1166666666666667        .
1  1961-01-01  3.8825000000000000        .
2  1962-01-01  3.9458333333333333        .
3  1963-01-01  4.0025000000000000        .
4  1964-01-01  4.1866666666666667        .

In [7]:
df_M1.columns = ['DATE', 'JP_M1', 'US_M1']
df_M1.head()

         DATE               JP_M1                 US_M1
0  1959-01-01                   .  140.4166666666666667
1  1960-01-01  4350533034083.7326  140.3083333333333333
2  1961-01-01  5443836847605.4202  143.0500000000000000
3  1962-01-01  6312149686198.0741  146.4916666666666667
4  1963-01-01  7460868868406.0380  150.9583333333333333

In [8]:
df_rGDP.columns = ['DATE','US_rGDP','JP_rGDP']
df_rGDP.head()

         DATE                US_rGDP JP_rGDP
0  1947-01-01  2036.2040000000000000       .
1  1948-01-01  2119.9592500000000000       .
2  1949-01-01  2107.9990000000000000       .
3  1950-01-01  2291.1105000000000000       .
4  1951-01-01  2475.4487500000000000       .

## これらを１つのdfにマージする

In [9]:
tmp = df_rate.merge(df_M1)
tmp = tmp.merge(df_rGDP)
tmp = tmp.merge(df_dex)

In [10]:
# 1993年以降でないと全てのデータがないため、本分析では1993年以降のデータを使用することとする
df_test = tmp[tmp['DATE']>'1993-01-01']
df_test

,DATE,US_国債利回り,JP_国債利回り,JP_M1,US_M1,US_rGDP,JP_rGDP,為替
23,1994-01-01,7.0800000000000000,4.3633333333333333,165930005760708.3333,1145.2166666666666667,10358.9232500000000000,446538.800000000000,102.178964
24,1995-01-01,6.5800000000000000,3.4435000000000000,179475682407083.6667,1143.0083333333333333,10636.9787500000000000,458237.550000000000,93.964940
25,1996-01-01,6.4383333333333333,3.1015000000000000,204092412385529.6667,1106.8166666666666667,11038.2660000000000000,472690.700000000000,108.780000
26,1997-01-01,6.3525000000000000,2.3736666666666667,221886430305457.3258,1070.2333333333333333,11529.1570000000000000,477476.150000000000,121.058127
27,1998-01-01,5.2641666666666667,1.5414166666666667,240855013708597.5858,1080.6166666666666667,12045.8240000000000000,471182.400000000000,130.989167
28,1999-01-01,5.6366666666666667,1.7490000000000000,266201438044158.5025,1102.3000000000000000,12623.361000000000,470023.425000000000,113.734246
29,2000-01-01,6.0291666666666667,1.7444166666666667,287978996714942.6667,1103.7000000000000000,13138.035250000000,482804.850000000000,107.804048
30,2001-01-01,5.0175000000000000,1.3190000000000000,312504848413047.4167,1140.2416666666666667,13263.417000000000,484729.400000000000,121.568040
31,2002-01-01,4.6108333333333333,1.2631666666666667,398448057227801.0050,1196.6833333333333333,13488.357000000000,484755.475000000000,125.220438
32,2003-01-01,4.0150000000000000,1.00325000000000000000,430543829786152.4117,1274.0666666666666667,13865.519250000000,492387.775000000000,115.938685
33,2004-01-01,4.2741666666666667,1.4926666666666667,448447441666666.6667,1344.5833333333333333,14399.696000000000,502992.025000000000,108.150830
34,2005-01-01,4.2900000000000000,1.3547500000000000,469326808333333.3333,1372.1583333333333333,14901.269000000000,512170.425000000000,110.106932
35,2006-01-01,4.7916666666666667,1.7405000000000000,483207591666666.6667,1375.1666666666666667,15315.943250000000,519060.400000000000,116.312072
36,2007-01-01,4.6291666666666667,1.6655000000000000,482837333333333.3333,1373.0583333333333333,15623.871500000000,526728.425000000000,117.762323
37,2008-01-01,3.6666666666666667,1.4673333333333333,480386675000000.0000,1434.7333333333333333,15642.962000000000,520163.550000000000,103.390635
38,2009-01-01,3.2566666666666667,1.3337500000000000,482866958333333.3333,1638.1416666666666667,15236.262250000000,490637.625000000000,93.682659
39,2010-01-01,3.2141666666666667,1.1483333333333333,492396041666666.6667,1742.6250000000000000,15648.991000000000,510760.950000000000,87.781680
40,2011-01-01,2.7858333333333333,1.1024166666666667,515772008333333.3333,2010.2083333333333333,15891.534000000000,510939.550000000000,79.696653
41,2012-01-01,1.8025000000000000,0.83558333333333333333,534532750000000.0000,2315.2833333333333333,16253.970000000000,517940.000000000000,79.818008
42,2013-01-01,2.3508333333333333,0.68966666666666666667,560226566666666.6667,2549.6166666666666667,16553.347500000000,528519.625000000000,97.597131
43,2014-01-01,2.5408333333333333,0.52033333333333333333,586532283333333.3333,2815.0500000000000000,16932.051750000000,529660.050000000000,105.739800
44,2015-01-01,2.1358333333333333,0.35000000000000000000,616458491666666.6667,3021.8333333333333333,17390.295250000000,538116.650000000000,121.049084
45,2016-01-01,1.8416666666666667,-0.06625000000000000000,659761333333333.3333,3248.5250000000000000,17680.273750000000,542011.000000000000,108.656932
46,2017-01-01,2.3300000000000000,0.05166666666666666667,711807575000000.0000,3523.9166666666666667,18079.084000000000,551262.050000000000,112.098554
47,2018-01-01,2.9100000000000000,0.06500000000000000000,755484400000000.0000,3680.3833333333333333,18606.786500000000,554314.450000000000,110.397390
48,2019-01-01,2.1441666666666667,-0.11041666666666666667,795931358333333.3333,3844.2916666666666667,19032.671500000000,554477.800000000000,109.018835
49,2020-01-01,0.89416666666666666667,-0.00541666666666666667,882704566666666.6667,12792.916666666667,18384.687250000000,528628.800000000000,106.775440

## object型をfloat型に変換する

In [11]:
# dataを数値に変換したい。
# もともとはobjectになってる
df_test.dtypes

DATE         object
US_国債利回り     object
JP_国債利回り     object
JP_M1        object
US_M1        object
US_rGDP      object
JP_rGDP      object
為替          float64
dtype: object

In [12]:
dict_types = {'US_国債利回り':'float64', 'JP_国債利回り':'float64', 'JP_M1':'float64', 'US_M1':'float64', 'US_rGDP':'float64', 'JP_rGDP':'float64'}

df_test = df_test.astype(dict_types)
df_test.dtypes

DATE         object
US_国債利回り    float64
JP_国債利回り    float64
JP_M1       float64
US_M1       float64
US_rGDP     float64
JP_rGDP     float64
為替          float64
dtype: object

## 重回帰分析を行う

In [13]:
import statsmodels.api as sm

y = df_test['為替']
x = df_test[['US_国債利回り', 'JP_国債利回り', 'JP_M1', 'US_M1', 'US_rGDP', 'JP_rGDP']]

X = sm.add_constant(x)

/Users/gr39my/.pyenv/versions/3.8.5/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [14]:
model = sm.OLS(y,X)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     為替   R-squared:                       0.169
Model:                            OLS   Adj. R-squared:                  0.060
Method:                 Least Squares   F-statistic:                     1.554
Date:                Wed, 09 Feb 2022   Prob (F-statistic):              0.228
Time:                        20:11:53   Log-Likelihood:                -104.00
No. Observations:                  27   AIC:                             216.0
Df Residuals:                      23   BIC:                             221.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0003      0.013     -0.026      0.980      -0.028       0.028
US_国債利回り      -0.0919      3.586     -0.026      0.980      -7.510       7.327
JP_国債利回り      -0.0545      2.125     -0.026      0.980      -4.450       4.341
JP_M1       7.773e-14    8.8e-14      0.883      0.386   -1.04e-13     2.6e-13
US_M1         -0.0003      0.002     -0.133      0.895      -0.004       0.004
US_rGDP       -0.0126      0.009     -1.347      0.191      -0.032       0.007
JP_rGDP        0.0005      0.000      2.111      0.046    1.02e-05       0.001
==============================================================================
Omnibus:                        0.492   Durbin-Watson:                   0.680
Prob(Omnibus):                  0.782   Jarque-Bera (JB):                0.440
Skew:                          -0.277   Prob(JB):                        0.802
Kurtosis:                       2.711   Cond. No.                     2.81e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.81e+16. This might indicate that there are
strong multicollinearity or other numerical problems.
"""